<%- include header %>

<body>
<div class="panel panel-primary" >
	<div class="container">
		<h3>帮助文档</h3>
		<p>学生通过“教室预约”菜单可以预约教室；老师可以通过“审核”菜单审核预约申请；如要获取审核权限，请联系管理员。</p>
	</div>
</div>
</body>
<script>
</script>

<%- include footer %>